In [ ]:
# open meteo or open weather api 

# A definition based on the Heat Wave Duration Index 
#is that a heat wave occurs when the daily maximum temperature of 
#more than five consecutive days exceeds the average maximum temperature by 5 °C (9 °F),
#the normal period being 1961–1990. The same definition is used by the World Meteorological Organization.

In [7]:
#Solution 1: use this api for every major city in the region
# issues: need to get the latitude and longitude for each of them 
# cover all cases with a 1 degree granularity ?

#https://open-meteo.com/en/docs/historical-weather-api#latitude=13.75&longitude=100.50&start_date=2012-12-31&end_date=2023-05-13&daily=temperature_2m_mean&timezone=Asia%2FBangkok

In [19]:
import requests
import pandas as pd
from pandas import json_normalize

iter=5

lat=13
lon=100

url=f"https://archive-api.open-meteo.com/v1/archive?latitude={lat}&longitude={lon}&start_date=1960-01-31&end_date=2023-05-13&daily=temperature_2m_max&timezone=auto"

In [20]:
response= requests.get(url)

In [40]:
df_inter=pd.DataFrame()
df_inter['date']=pd.DataFrame(response.json()['daily']['time'])
df_inter['max_temp']=pd.DataFrame(response.json()['daily']['temperature_2m_max'])
df_inter['lat']= lat
df_inter['lon']= lon
df_inter

             date  max_temp  lat  lon
0      1960-01-31      29.6   13  100
1      1960-02-01      30.3   13  100
2      1960-02-02      27.8   13  100
3      1960-02-03      27.7   13  100
4      1960-02-04      27.1   13  100
...           ...       ...  ...  ...
23109  2023-05-09      31.8   13  100
23110  2023-05-10      31.9   13  100
23111  2023-05-11      32.7   13  100
23112  2023-05-12      29.9   13  100
23113  2023-05-13       NaN   13  100

[23114 rows x 4 columns]

In [63]:
# get the average monthly temp from 1960 to 1990
df_inter_baseline=df_inter[df_inter['date']<'1991-01-01']
df_inter_baseline['date']=pd.to_datetime(df_inter_baseline['date'])
df_inter_baseline['month']=df_inter_baseline['date'].dt.month

/var/folders/9z/sjrbpv9j1996t3_4wv3ry65c0000gn/T/ipykernel_60275/203597682.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inter_baseline['date']=pd.to_datetime(df_inter_baseline['date'])
/var/folders/9z/sjrbpv9j1996t3_4wv3ry65c0000gn/T/ipykernel_60275/203597682.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inter_baseline['month']=df_inter_baseline['date'].dt.month

In [70]:
df_avg=df_inter_baseline.groupby('month').mean()['max_temp']
df_avg

/var/folders/9z/sjrbpv9j1996t3_4wv3ry65c0000gn/T/ipykernel_60275/3589133783.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_avg=df_inter_baseline.groupby('month').mean()['max_temp']

month
1     28.420623
2     29.946918
3     31.380333
4     32.531613
5     31.820499
6     31.364086
7     31.086160
8     30.818418
9     30.073011
10    28.896878
11    28.279785
12    27.850572
Name: max_temp, dtype: float64

In [ ]:
#integration of avg and check delta